html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.CodeMirror {
    height: 100%;
}

.cm-s-dracula span.cm-builtin {
    color: #16fa05;
}

.cm-s-dracula span.cm-variable-2 {
    color: #140dfa;
}
